
@font-face {
  font-family: 'MontserratAlternates-Regular';
  src: url('MontserratAlternates-Regular.eot?#iefix') format('embedded-opentype'),  url('MontserratAlternates-Regular.woff') format('woff'), url('MontserratAlternates-Regular.ttf')  format('truetype'), url('MontserratAlternates-Regular.svg#MontserratAlternates-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
