// Core variables and mixins bourbon
@import "bourbon";

// Tooltip
.bl-tooltip{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-tooltip{}
.overlay-tooltip{
	.bl-tooltip{z-index:1001;opacity:1;visibility:visible;@extend %tr-all;
		.tooltip-container{
			&.is-show{bottom:0;@extend %tr-all;}
		}
	}
}
.bl-tooltip{
	.tooltip-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;border-top-left-radius:$gutter;border-top-right-radius:$gutter;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-tooltip-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			.func-close-tooltip{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icz]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-tooltip-context{max-height:400px;@include padding($gutter);font-size:$size-normal;overflow-y:scroll;-webkit-overflow-scrolling:touch;
			p{margin-bottom:$gutter/2}
			ul{margin-bottom:$gutter;margin-top:$gutter;
				li{position:relative;margin-bottom:$gutter/2;padding-left:20px;
					&:before{@include position(absolute, 7px null null 7px);content:"";background-color:$text;@include size(4px);border-radius:100%}
					&:last-child{margin-bottom:0}
				}
			}
			@media only screen and (max-height:600px){max-height:280px}
		}
	}
}

// Modal
.bl-modal{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(#35425B, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-modal{overflow:hidden;}
.overlay-modal{
	.bl-modal{z-index:1002;opacity:1;visibility:visible;@extend %tr-all;
		.modal-container{
			&.is-show{top:64px;transition:all 0.35s ease;}
		}
	}
}
.bl-modal{
	.modal-container{@include position(absolute, null $gutter);top:-100%;background-color:#fff;@extend %is-radius;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-modal-heading{display:flex;justify-content:space-between;align-items:center;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			.func-close-modal{flex-shrink:0;@include size(50px);margin-right:-$gutter;color:inherit;
				[class^=icz]{display:inline-block;@include size(50px);@include padding(15px);font-size:1.25rem;vertical-align:middle}
			}
		}
		.bl-modal-context{@include padding($gutter);
			p{margin-bottom:$gutter}
			.buttons.is-2b{@include margin(null (-$gutter/2));
				.button{flex-shrink:0;width:calc(50% - 16px);@include margin(null ($gutter/2))}
			}
		}
	}
}

// Popup
.bl-popup{display:block;z-index:-1;opacity:0;visibility:hidden;@include position(fixed, 0);@extend %tr-all;background-color:rgba(36, 46, 66, 0.85);overflow:hidden;
	&.is-hidden{z-index:-1!important;opacity:0!important;visibility:hidden!important;}
}
.overlay-popup{height:100%;overflow:hidden;}
.overlay-popup{
	//.page-content{height:100%;overflow:hidden;transform-style:preserve-3d;transform-origin:0% 50%;animation:rotateBox 0.5s forwards ease-in;transition:all 0.5s;}
	.bl-popup{z-index:102;opacity:1;visibility:visible;@extend %tr-all;
		.popup-container{height:0;
			&.is-show{z-index:1;bottom:0;height:96.5%;@extend %tr-all;
				&#popup-daterangepicker{height:auto;}
				
				.bl-popup-context{
					&.has-fixed{
						.bottom{opacity:1;visibility:visible;}
					}
				}
			}
		}
	}
}
.bl-popup{
	.popup-container{@include position(absolute, null);bottom:-100%;background-color:#fff;width:100%;border-top-left-radius:$gutter;border-top-right-radius:$gutter;overflow:hidden;
		@include from($tablet){left:50%;width:600px;margin-left:-300px}
		.bl-popup-heading{display:flex;align-items:center;@include position(absolute, 0 0 null 0);z-index:10;background-color:$white;height:50px;@include padding(null $gutter);border-bottom:1px solid $border;border-top-left-radius:$gutter;border-top-right-radius:$gutter;
			&.is-show-back{
				.func-close-popup{display:none}
				.func-back-popup{display:block}
			}
			span{color:$text;font-size:$size-medium;font-weight:$weight-semibold}
			[class^=func-]{@include position(absolute, 0 null null 0);@include size(50px);color:inherit;
				[class^=icz]{display:inline-block;@include size(50px);@include padding(14px);font-size:1.325rem;vertical-align:middle}
				&.is-right{right:0;left:initial}
			}
			.func-back-popup{display:none;}
		}
		.bl-popup-search{@include position(absolute, 50px 0 null 0);z-index:10;background-color:$white;height:40px;@include padding(4px $gutter null);
			.input{height:40px;padding-left:1.5rem;border-bottom-color:#eee}
			.icon{left:-4px;top:6px}
		}
		.bl-popup-heading + .bl-popup-context{padding-top:64px}
		.bl-popup-search + .bl-popup-context{padding-top:96px}
		.bl-popup-context{position:relative;height:100%;@include padding($gutter $gutter 30px);overflow-y:scroll;-webkit-overflow-scrolling:touch;
			.group-add-list{
				li{border-bottom:1px solid #eee;
					&:last-child{border-bottom:none}
					a{display:block;@include padding(8px null);color:$text;font-size:$size-medium}
				}
			}
		}
	}
}
@keyframes rotateBox{
	50%{transform:scale(0.92, 1);transform-origin:center top;}
	100%{transform:scale(0.88, 0.99);transform-origin:center top;}
}