// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
	@include tablet{font-size:112.5%}
	@include from($tablet){padding-right:0!important}
}
html, body{background:#f1f5f8}
body{
	&.for-article{min-height:100%;background:#ddd;
		.page-content{background:#ddd;@include padding($gutter);
			.bl-cover{display:none}
			.body{@include margin(0);@extend %is-radius;
				.bl-info-oa{display:none;}
			}
			.field:not(:last-child){margin-bottom:30px;}
		}
		@include tablet{
			.page-content{@include margin(0 null);box-shadow:none;}
		}
	}
}
/* General */
.page-content{background-color:#f1f5f8;max-width:560px;min-height:100vh;@include margin(null auto);
	.body{position:relative;z-index:2;@include padding(null $gutter)}
	.bl-cover + .body{margin-top:-42px;
		@include tablet{margin-top:-28px}
	}
	.bottom{margin-bottom:$gutter*2}
	&.has-cover-fixed{
		.bl-cover{@include position(fixed, 0 0 null 0);
			@include tablet{@include position(relative, inherit)}
		}
		.bl-cover + .body{margin-top:167px;
			@include tablet{margin-top:-28px}
		}
	}
	@include tablet{min-height:auto;@include margin(2rem null);border-radius:8px;overflow:hidden;
		.body{@include margin(0);border-radius:0!important}
	}
}
.control.has-icons-right .icon{transition:all .2s ease}
.input:focus + .icon .icz-fill-check, .input:focus + .icon .icz-fill-warning{opacity:0}
hr.separate{display:block;background-color:$grey-light;height:8px;@include margin(0 null);
	&.is-outside{@include margin(null (-$gutter))}
}
hr.line{display:block;background-color:$grey-light;height:1px;@include margin(0 null);
	&.is-outside{@include margin(null (-$gutter))}
}
.func-tooltip{display:inline-block;position:relative;top:2px;left:-4px;margin-bottom:-8px;margin-top:-8px;color:inherit;
	[class^=icz]{display:block;@include size(32px);@include padding(10px);color:$grey;font-size:0.75rem;}
}
.func-popup-location{@include position(absolute, 0);z-index:1}
.title{display:block;margin-bottom:10px;color:$text;font-size:$size-large;font-weight:$weight-bold;line-height:24px}
.subtitle{display:block;margin-bottom:40px;color:$grey;font-size:0.875rem;font-weight:$weight-normal;line-height:20px;
	.js-read-more{display:inline;
		br{display:block;content:"";@include margin(10px null)}
	}
	.read-more-link-wrap{white-space:nowrap;margin-left:4px;
		.read-more-link{color:$text}
	}
	.js-read-more.is-expanded + .read-more-link-wrap{display:none}
	@include tablet{margin-bottom:2.5em;}
}
.controls{display:flex;flex-wrap:wrap;margin-bottom:-8px;
	+ .help{margin-top:12px}
	&.is-rows{flex-direction:column;
		.control{margin-right:0}
	}
	.control{margin-right:$gutter*1.5;@include padding(4px null)}
}
select:invalid{color:#ccc}
p.copyright{@include margin(20px null -5px);text-align:center;font-size:0.688em;color:#aaa;}

/* Block */
.group-form{background-color:$white;@include margin($gutter null);@include padding(25px);@extend %is-radius;box-shadow:0 0 6px rgba(#afafaf, 0.5)}
.bl-cover{display:block;position:relative;background-color:$grey;overflow:hidden;
	&:before{content:"";display:block;padding-top:52%}
	.img-cover{@include position(absolute, 0);@extend %backgroundCover--center;}
	@include tablet{@include position(relative, inherit);}
}
.bl-info-oa{max-width:240px;@include margin(-5px auto ($gutter*1.325));
	.avatar{@include margin(null auto 5px)}
	h1{display:block;color:$text;font-size:0.813rem;font-weight:$weight-bold;text-align:center;}
	@include tablet{
		.avatar.avatar--s{@include size(48px)}
	}
	&.is-review{display:flex;justify-content:center;align-items:center;margin-top:0;
		.ico-wrap{display:block;@include size(24px);color:$text;font-size:1.25rem;
			[class^=icz]{display:block;@include size(24px);@include padding(4px);color:$text;font-size:1rem;}
		}
		.avatar{@include margin(0 5px)}
	}
}
.bl-form{
	.label{display:block}
	.ico-wrap{background-color:$success;@include size(64px);@include margin(35px auto 20px);border-radius:100%}
	.ico-success{display:block;@include size(78px);@include margin(30px auto 20px);}
	p.is-policy{@include padding(4px null null);padding-bottom:env(safe-area-inset-bottom);color:$grey;font-size:$size-small;
		strong{font-weight:$weight-bold}
	}
	.button{margin-top:$gutter*1.325}
	@include tablet{@include padding(($gutter/2) 55px)}
	.context-default{margin-bottom:35px;
		p{margin-bottom:$gutter*0.5;color:$text;font-size:$size-normal}
	}
}
.group-form + .group-question-wrap{margin-top:30px}
.group-question-wrap{margin-bottom:30px;
	.title-question{display:block;margin-bottom:1rem;color:$text;font-size:$size-medium;font-weight:$weight-bold;text-align:center}
	.group-question{background-color:$white;@include margin($gutter null);@include padding(null $gutter);@extend %is-radius;box-shadow:0 0 6px rgba(#afafaf, 0.5);
		.field.is-select-location{
			select{height:48px;border-bottom:none}
		}
	}
	.input-group-checkbox{display:flex;align-items:center;position:relative;@include margin(null (-$gutter));@include padding(($gutter/1.5) $gutter);
		&:first-child{border-radius:10px 10px 0 0;overflow:hidden;}
		&:last-child{border-radius:0 0 10px 10px;overflow:hidden;}
		&.is-sr{@include padding(0);border-bottom:1px solid $border;
			label.label-custom{display:block;width:100%;@include padding(12px 40px 12px $gutter);color:$text;font-size:$size-medium;
				&:before{right:16px;left:inherit;border-color:$text}
				&:after{right:20px;left:inherit;background-color:$text}
			}
			[type=checkbox]:checked + label:before, [type=checkbox]:not(:checked) + label:before{background:transparent;border:1px solid $text;border-radius:100%}
			[type=checkbox]:checked + label:after, [type=checkbox]:not(:checked) + label:after{@include position(absolute, 50% 20px null inherit);content:"";background:$text;@include size(8px);margin-top:-4px;border-radius:100%;transition:all 0.2s ease}
			[type="radio"]:checked + label, [type="checkbox"]:checked + label{background-color:#b6e2ff}
		}
		&:hover{color:$text}
	}
}

/* Loading */
.layer-loading{@include position(fixed, -10px null null 50%);z-index:-1;background-color:$white;width:52px;margin-left:-26px;@include padding(4px);border-radius:100%;box-shadow:0 5px 10px rgba(0,0,0,0.15);@extend %tr-all;opacity:0;visibility:hidden;
	.lds-ring{position:relative;display:block;@include size(44px);@include margin(null auto)}
	.lds-ring div{display:block;position:absolute;@include size(36px);@include margin(4px);border:3px solid $primary;border-radius:50%;animation:lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color:$primary transparent transparent transparent}
	.lds-ring div:nth-child(1){animation-delay:-0.45s}
	.lds-ring div:nth-child(2){animation-delay:-0.3s}
	.lds-ring div:nth-child(3){animation-delay:-0.15s}
	&.is-active{z-index:333;top:44px;opacity:1;visibility:visible}
}
@keyframes lds-ring{
	0%{
		transform:rotate(0deg);
	}
	100%{
		transform:rotate(360deg);
	}
}

/* Error */ 
.bl-error{background-color:$white;@include margin($gutter);@include padding(25px);@extend %is-radius;
	.img-error{display:block;max-width:270px;@include margin(null auto)}
	@include tablet{@include margin(0 auto);@include padding(($gutter*2) 64px);padding-bottom:45px;
		.button{max-width:400px;@include margin(0 auto);}
	}
}

// Animation
@keyframes outline{
	from{
		stroke-dasharray:0, 345.576px;
	}
	to{
		stroke-dasharray:345.576px, 345.576px;
	}
}
#outline{
	animation:.38s ease-in outline;
	transform:rotate(0deg);
	transform-origin:center;
}

@keyframes circle{
	from{
		transform:scale(1);
	}
	to{
		transform:scale(0);
	}
}
#white-circle{
	animation:.35s ease-in .35s forwards circle;
	transform:none;
	transform-origin:center;
}

@keyframes check{
	from{
		stroke-dasharray:0, 75px;
	}
	to{
		stroke-dasharray:75px, 75px;
	}
}
#check{
	animation:0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
	stroke-dasharray:0, 75px;
}

@keyframes check-group{
	from{
		transform:scale(1);
	}
	50%{
		transform:scale(1.09);
	}
	to{
		transform:scale(1);
	}
}
#check-group{
	animation:.32s ease-in-out 1.03s check-group;
	transform-origin:center;
}

// thêm class này vào thẻ div bọc ngoài iframe trong zalo article
.iframe-container{@include margin(null -24px);}