// Core variables and mixins bourbon
@import "bourbon";

/* Body */
html{-webkit-font-smoothing:antialiased}
body{-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}
html, body{background:#f1f5f8}

/* General */
.page-content{background-color:$white;max-width:600px;min-height:100vh;@include margin(null auto);@include padding($gutter);
	&.is-font1{font-family:"Google Sans";
		*{font-family:"Google Sans";}
	}
	h1{display:block;margin-bottom:$gutter*2;color:$text;font-size:$size-xlarge;font-weight:$weight-normal}
	h2{display:block;margin-bottom:$gutter*1.5;color:$text;font-size:$size-large;font-weight:$weight-normal}
	h3{display:block;margin-bottom:$gutter*1.5;color:$text;font-size:$size-medium;font-weight:$weight-normal}
	p{display:block;margin-bottom:$gutter;color:$text;font-size:$size-normal;font-weight:$weight-normal}
	strong{font-weight:bold}
}

