include config.pug
block setting
	- var loading = false

doctype
html(lang="en")
	head
		block head

	//- add class for wrapper
	- var bodyC = [];
	- var layoutClasses= [];
	- var bodyClasses = [];
	block pages

	body(class=`${bodyC}`)
		if loading
			.layer-loading
				.lds-ring
					div
					div
					div
					div
		if layout
			block layout
				div(class=`${bodyClasses}`)
					block body

		// Include Plugin
		block javaScripts
			include javascript.pug
			
		block javaScripts extend
			