// Google Sans
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-regular.woff') format('woff'), url('../fonts/googlesans/googlesans-regular.ttf') format('truetype'), url('../fonts/googlesans/googlesans-regular.svg#googlesans-regular') format('svg');
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-italic.woff') format('woff'), url('../fonts/googlesans/googlesans-italic.ttf') format('truetype'), url('../fonts/googlesans/googlesans-italic.svg#googlesans-italic') format('svg');
	font-weight:normal;
	font-style:italic;
	font-display:swap;
}
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-medium.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-medium.woff') format('woff'), url('../fonts/googlesans/googlesans-medium.ttf') format('truetype'), url('../fonts/googlesans/googlesans-medium.svg#googlesans-medium') format('svg');
	font-weight:500;
	font-style:normal;
	font-display:swap;
}
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-mediumitalic.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-mediumitalic.woff') format('woff'), url('../fonts/googlesans/googlesans-mediumitalic.ttf') format('truetype'), url('../fonts/googlesans/googlesans-mediumitalic.svg#googlesans-mediumitalic') format('svg');
	font-weight:500;
	font-style:italic;
	font-display:swap;
}
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-bold.woff') format('woff'), url('../fonts/googlesans/googlesans-bold.ttf') format('truetype'), url('../fonts/googlesans/googlesans-bold.svg#googlesans-bold') format('svg');
	font-weight:700;
	font-style:normal;
	font-display:swap;
}
@font-face{
	font-family:'Google Sans';
	src:url('../fonts/googlesans/googlesans-bolditalic.eot?#iefix') format('embedded-opentype'), url('../fonts/googlesans/googlesans-bolditalic.woff') format('woff'), url('../fonts/googlesans/googlesans-bolditalic.ttf') format('truetype'), url('../fonts/googlesans/googlesans-bolditalic.svg#googlesans-bolditalic') format('svg');
	font-weight:700;
	font-style:italic;
	font-display:swap;
}