// Core variables and mixins bourbon
@import "bourbon";

// Body
*, *::before, *::after{box-sizing:border-box}
html{-webkit-font-smoothing:antialiased}
body{background:$white;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;font-display:swap;
	@media only screen and (max-width:414px){font-size:calc(100% + 1 * (100vw - 360px)/ 39)}
}
body, html{height:100%;
	@include from($tablet){height:auto}
	@include until($tablet){}
	@include from($widescreen){}
}
a:hover{@include tr-all;}

// Re-Style
.navbar-burger{@include size(68px);margin-left:inherit}
.navbar-burger span{background-color:$white;height:2px;border-radius:$radius-rounded}
.navbar-link{
	&:after{display:none!important}
	&:before{@include position(absolute, 50% 1.125em null null);@include size(16px, 24px);margin-top:-12px;font-family:$ti-font-family;content:"\ea5f";color:$white}
}
.button, .navbar-dropdown, .input, .textarea, .select select{@include tr-all;}
a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{background-color:transparent;color:$primary}

@include until($desktop){
	.navbar-start{@include padding($gutter);
		.navbar-dropdown{@include padding(0 null);
			.navbar-item{position:relative;padding-left:36px;color:$text;font-size:1rem;font-weight:$weight-normal;
				&:before{@include position(absolute, 16px null null 16px);content:"";background:url(../images/ico_list.png) 0 0 no-repeat;background-size:cover;@include size(7px, 9px)}
			}
		}
	}
	.navbar-end{@include padding(0 $gutter $gutter);
		.func-search{display:none;}
		.button{width:100%;margin-bottom:0}
	}
	.navbar-item, .navbar-link{color:$text;@include padding(0.625rem 0);font-weight:$weight-medium}
}
@include from($desktop){
	.navbar-dropdown{display:block;opacity:0;pointer-events:none;top:calc(100% + (-4px));transform:translateY(-5px);transition-duration:86ms;transition-property:opacity,transform;}
	.navbar-item, .navbar-link{position:relative;@include padding(null 1rem);color:$white;font-size:$size-normal;font-weight:$weight-medium;
		&:before{display:none}
		&:after{@include position(absolute, null null 8px 50%);content:"";background-color:$primary;@include size(36px, 2px);margin-left:-18px;opacity:0;@include tr-all;}
		&:hover{
			&:after{opacity:1;pointer-events:auto}
		}
		&.is-active{
			&:after{opacity:1;}
		}
	}
	.navbar-item.is-active .navbar-dropdown, 
	.navbar-item.is-hoverable:focus .navbar-dropdown, 
	.navbar-item.is-hoverable:focus-within .navbar-dropdown, 
	.navbar-item.is-hoverable:hover .navbar-dropdown{opacity:1;pointer-events:auto;transform:translateY(0);}
	a.navbar-item:focus, a.navbar-item:focus-within, a.navbar-item:hover, a.navbar-item.is-active, .navbar-link:focus, .navbar-link:focus-within, .navbar-link:hover, .navbar-link.is-active{background-color:transparent;color:$white}
	.navbar-item.has-dropdown:focus .navbar-link, .navbar-item.has-dropdown:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link{background-color:transparent;}
	.navbar-dropdown{background-color:$white;border-radius:$radius-large;border:none;
		.navbar-item, .navbar-link{color:$text;font-weight:$weight-normal;
			&:after, &:before{display:none}
		}
	}
	.navbar-link:not(.is-arrowless){padding-right:1rem}
	.navbar-end{
		.navbar-search{@include position(absolute, 60px 160px null null);background-color:$white;width:300px;@include padding($gutter/2);border-radius:$radius-large;box-shadow:$shadow-large}
		.func-search, .func-close-search{display:block;@include size(48px);margin-right:0.25rem;@include padding(12px);
			i{color:$white;font-size:1.25rem}
		}
		.button{margin-bottom:0}
	}
}

// General
nav.navtop{display:none;@include position(absolute, 0 0 null 0);z-index:10;background-color:rgba($primary, 0.95);height:40px;
	ul{display:flex;align-items:center;justify-content:flex-end;
		li{@include margin(null ($gutter/2));
			a{display:block;color:$white;font-size:$size-small;line-height:40px;
				&:hover{opacity:0.85;}
			}
			&.is-lang{position:relative;display:flex;align-items:center;justify-content:flex-end;margin-left:-2px;
				a{display:block;position:relative;@include padding(null ($gutter/3));
					&:first-child::before{@include position(absolute, 14px 0 14px null);content:"";background-color:$white;width:1px}
					&.is-active{font-weight:$weight-bold}
				}
			}
		}
	}
	@include from($desktop){display:block}
}
.navbar{background-color:$primary;height:68px;
	.navbar-logo-mobile{@include position(absolute, 0 68px null 68px);
		i.logo{display:block;background:url(../images/logo_mobile.png) 0 0 no-repeat;background-size:cover;@include size(100px, 68px);@include margin(null auto)}
	}
	.navbar-logo{display:none;}
	.navbar-menu{@include position(absolute, 68px 0 null 0);
		&.is-active{
			.navbar-start, .navbar-end{display:block}
		}
	}
	.navbar-start{
		@include from($desktop){@include margin(null auto)}
	}
	.navbar-end{display:none;
		@include from($desktop){display:block;@include position(absolute, 0 0 null null);
			.navbar-item{@include padding(0.25rem null)}
		}
	}
	@include from($desktop){@include position(absolute, 0 0 null 0);z-index:11;height:auto;background-color:transparent;@include margin(60px null null);
		.navbar-logo-mobile{display:none}
		.navbar-logo{display:block;@include position(absolute, -60px null null 0);z-index:12;background-color:$white;@include padding(6px null);border-radius:0 0 $radius-large $radius-large;
			i.logo{display:block;background:url(../images/logo.png) 0 0 no-repeat;background-size:cover;@include size(156px, 106px)}
		}
		.navbar-menu{@include position(absolute, inherit);}
	}
	@include until($desktop){
		.navbar-brand{@include size(68px)}
		.navbar-start{display:none}
		.navbar-menu{min-height:0;@include padding(0)}
	}
}
.swiper-pagination{@include flex-center;@include position(absolute, null 0);
	.swiper-pagination-bullet{background-color:$grey-light;@include size(12px);@include margin(null 4px);border:2px solid $grey-lightest;outline:0;
		&.swiper-pagination-bullet-active{background-color:$primary;@include size(16px);border:3px solid $white;box-shadow:0 0 2px $primary}
	}
}
.bullet-list{
	li{position:relative;margin-bottom:1rem;padding-left:2rem;@extend %body;color:$grey;
		&:before{@include position(absolute, 4px null null 0);content:"";background:url(../images/ico_bullet.png) 0 0 no-repeat;background-size:cover;@include size(16px)}
	}
}
// Stars
.rating{float:left;border:none;
	&.disabled{position:relative;
		&:before{@include position(absolute, 0);content:"";z-index:2;background:transparent;}
	}
}
.rating > input{display:none} 
.rating > label:before{background:none;overflow:inherit;width:auto;height:auto;margin:4px;font-size:1.75rem;font-family:"tabler-icons";display:block;content:"\eb2e"}
.rating > label:after{display:none}
.rating > .half:before{content:"\eb2e";position:absolute}
.rating > label{color:$grey-lighter;float:right;margin-bottom:0}
.rating > input:checked ~ label, .rating:not(:checked) > label:hover, .rating:not(:checked) > label:hover ~ label{color:$primary}
.rating > input:checked + label:hover, .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label, .rating > input:checked ~ label:hover ~ label{color:$primary}

.stars{display:block;position:relative;background:url(../images/stars.png) 0 -16px no-repeat;background-size:80px 32px;@include size(80px, 16px);
	.stars-live{@include position(absolute, 0 null null 0);background:url(../images/stars.png) 0 0 no-repeat;background-size:80px 32px;@include size(80px, 16px);}
}
// Footer
.footer{background-color:shade($primary, 22%);@include padding($gutter $gutter null $gutter);
	h3{display:block;margin-bottom:0.5em;@extend %h3;color:$white;}
	i.ico-logo{display:block;background:url(../images/logo_footer.png) 0 0 no-repeat;background-size:cover;@include size(141px, 96px);margin-bottom:1.25em}
	p{@extend %small;color:rgba($white, 0.75);}
	.img-cer-bct{display:block;@include size(131px, 50px)}
	.img-cer-dmca{display:block;@include size(100px, 50px)}
	ul.links-list{margin-bottom:1rem;
		li{margin-bottom:0.5em;
			a{display:block;@include padding(0.25em null);@extend %body;color:$white;
				&:hover{opacity:0.85;}
			}
		}
	}
	.cpr{margin-bottom:1rem;@extend %small;color:rgba($white, 0.75);
		span{font-family:Arial;}
	}
	.cer-list{display:flex;align-items:center;margin-bottom:1rem;
		img{margin-right:$gutter;
			&.img-cer-bct{@include size(84px, 32px)}
			&.img-cer-dmca{@include size(64px, 32px)}
		}
	}
	.info-footer{@include margin(-1rem null null);@include padding(1.5rem null);border-top:1px solid rgba($white, 0.15);border-bottom:1px solid rgba($white, 0.15);
		h4{display:block;margin-bottom:1rem;color:$white;font-size:$size-normal;font-weight:$weight-bold}
		.info-footer-list{background-color:$white;@include padding(1rem);border-radius:$radius-large;
			li{display:flex;align-items:center;margin-bottom:1rem;
				.ico-wrap{flex-shrink:0;@include flex-center;flex-shrink:0;background-color:$primary;@include size(36px);margin-right:1rem;border-radius:$radius-rounded;
					i{color:$white;font-size:1.25rem}
					i.ico-zalo{display:block;background:url(../images/ico_zalo.png) 0 0 no-repeat;background-size:cover;@include size(36px)}
				}
				.desc{flex-grow:1;min-width:0;
					p{@extend %body;
						&.meta{color:$grey-light;font-size:$size-small;
							a{color:$grey-light}
						}
					}
				}
				&:last-child{margin-bottom:0}
			}
		}
	}
	@include from($desktop){@include padding(3rem 0 null 0);
		i.ico-logo{@include size(162px, 110px);}
		.info-company{padding-right:$gutter}
		.info-footer{@include margin(0 null);@include padding(0 null);border:0;
			.info-footer-list{max-width:300px;}
		}
		.cpr{margin-bottom:0;padding-top:1rem;border-top:1px solid rgba($white, 0.15);}
	}
}

// Hero
.section-hero{position:relative;
	.slide-content{@include flex-center;position:relative;@include background-center;height:520px;
		&:before{@include position(absolute, 0 0 0 0);content:"";background-color:rgba($text, 0.5)}
		.inner{position:relative;z-index:2;@include padding(1.5rem)}
		h1{display:block;margin-bottom:$gutter;color:$white;font-size:$size-xlarge;font-weight:$weight-bold;line-height:1.35;text-align:center}
		@include from($desktop){height:650px;
			h1{max-width:900px;@include margin(1rem auto 2rem);font-size:3.5em;line-height:1.25;}
		}
		@include tablet-only{
			h1{max-width:600px;}
		}
	}
	.swiper-pagination{@include position(absolute, null null 2rem null);
		@include from($desktop){display:none}
	}
	.swiper-button-next, .swiper-button-prev{display:none;background:url(../images/arrows.png) 0 0 no-repeat;background-size:160px 160px;@include size(80px);outline:0;
		&.swiper-button-disabled{opacity:1;}
		&:after, &:before{display:none}
		@include from($desktop){display:block}
	}
	.swiper-button-prev{background-position:0 0;
		&.swiper-button-disabled{background-position:0 -80px;}
	}
	.swiper-button-next{background-position:-80px 0;
		&.swiper-button-disabled{background-position:-80px -80px;}
	}
}
// About
.section-about{position:relative;@include padding(3rem $gutter);
	&:before{@include position(absolute, $gutter null null -20px);content:"";background:url(../images/vector.png) 0 0 no-repeat;background-size:cover;@include size(116px, 48px)}
	.about-list{
		li{display:flex;align-items:center;margin-bottom:1rem;@extend %body;
			.ico-wrap{@include flex-center;flex-shrink:0;background-color:$background-primary;@include size(56px);margin-right:1rem;border-radius:$radius-rounded;
				i{color:$primary;font-size:1.5rem}
			}
			span{flex-grow:1;min-width:0}
			&:last-child{margin-bottom:0}
		}
	}
	@include from($desktop){@include padding(4.75rem 0);
		&:before{@include position(absolute, 76px 0 null inherit);content:"";background:url(../images/vector.png) 0 0 no-repeat;background-size:cover;@include size(186px, 78px)}
		.about-list{display:flex;flex-wrap:wrap;
			li{width:calc(50% - 1rem);margin-right:2rem;
				&:nth-child(even){margin-right:0}
			}
		}
	}
}
// Service
.section-service{position:relative;background-color:rgba($grey-lightest, 0.75);@include padding(3rem $gutter);
	.service-list{
		li{margin-bottom:1rem;
			&:last-child{margin-bottom:0}
			&:nth-child(2){
				.item-service{border:1px solid $primary}
			}
			.item-service{background-color:$white;@include padding(($gutter/2) ($gutter/2) 1rem ($gutter/2));border-radius:$radius-large;box-shadow:$shadow-soft;
				.img-service{display:block;position:relative;@include background-center;margin-bottom:1rem;border-radius:$radius-large;
					&:before{@include ratio-default}
				}
				.desc{
					h3{display:block;margin-bottom:$gutter/3;@extend %h3;text-align:center}
					p{display:block;margin-bottom:$gutter/2;@include padding(0 1rem);@extend %small;text-align:center}
				}
			}
		}
	}
	@include from($tablet){@include padding(4.75rem 0);
		.service-list{display:flex;@include margin(null (-$gutter/2));
			li{width:32%;margin-bottom:0;@include padding(null ($gutter/2));
				&:nth-child(2){width:36%}
				.item-service{position:relative;height:100%;
					.img-service{height:192px;margin-bottom:$gutter - 0.25rem;
						&:before{display:none}
					}
					.desc{@include padding(null 4px 48px);
						h3{margin-bottom:$gutter - 0.25rem}
						p{font-size:$size-normal;line-height:24px}
						.buttons{@include position(absolute, null 0 1.25rem 0)}
					}
				}
			}
		}
	}
	@include until($tablet){
		.service-list{display:flex;flex-direction:column;
			li{order:2;
				&:nth-child(2){order:1;}
			}
		}
	}
}
// Partner
.section-partner{position:relative;@include padding(3rem $gutter 4.5rem);
	.partner-inside{@include margin(null (-$gutter))}
	.item-partner{display:block;
		img{display:block;@include size(auto);border-radius:$radius-large;border:1px solid $grey-lightest;}
	}
	.swiper-pagination{@include position(absolute, null null -2rem null)}
	.swiper-button-next, .swiper-button-prev{display:none;background:url(../images/arrows.png) 0 0 no-repeat;background-size:80px 80px;@include size(40px);outline:0;
		&.swiper-button-disabled{opacity:1;}
		&:after, &:before{display:none}
		@include from($desktop){display:block}
	}
	.swiper-button-prev{background-position:0 0;
		&.swiper-button-disabled{background-position:0 -40px;}
	}
	.swiper-button-next{background-position:-40px 0;
		&.swiper-button-disabled{background-position:-40px -40px;}
	}
	@include from($desktop){@include padding(4.75rem 0 0);
		.partner-inside{width:896px;@include margin(null auto)}
		.swiper-button-next, .swiper-button-prev{@include position(absolute, 1.5rem 0 null null)}
		.swiper-button-prev{right:44px;left:inherit}
	}
}
// Testimonial
.section-testimonial{position:relative;@include padding(null $gutter 4.5rem);
	.testimonial-inside{@include margin(null (-$gutter))}
	.item-tes{background-color:rgba($grey-lightest, 0.75);@include padding(1.25rem);border-radius:$radius-large;
		.tes-user{display:flex;
			.avatar{flex-shrink:0;margin-right:1rem}
			.desc{flex-grow:1;min-width:0;margin-bottom:$gutter/2;
				p.name{display:block;margin-bottom:2px;@extend %subtitle;}
				p.meta{display:block;margin-bottom:4px;@extend %small;}
			}
		}
		p.desc{display:block;@extend %small}
	}
	.swiper-pagination{@include position(absolute, null null -2rem null)}
	.swiper-button-next, .swiper-button-prev{display:none;background:url(../images/arrows.png) 0 0 no-repeat;background-size:80px 80px;@include size(40px);outline:0;
		&.swiper-button-disabled{opacity:1;}
		&:after, &:before{display:none}
		@include from($desktop){display:block}
	}
	.swiper-button-prev{background-position:0 0;
		&.swiper-button-disabled{background-position:0 -40px;}
	}
	.swiper-button-next{background-position:-40px 0;
		&.swiper-button-disabled{background-position:-40px -40px;}
	}
	@include from($desktop){@include padding(4.75rem 0);
		.testimonial-inside{@include margin(null auto)}
		.swiper-button-next, .swiper-button-prev{@include position(absolute, 1.5rem 0 null null)}
		.swiper-button-prev{right:44px;left:inherit}
	}
}
// Form
.form-inside{background-color:$white;@include padding(1.25rem 1rem);border-radius:$radius-large;
	.field.has-button{margin-top:$gutter}
}
.section-form{position:relative;background:#000 url(../images/bg_form.png) top center no-repeat;background-size:cover;max-width:1232px;@include margin(null auto);@include padding($gutter);
	.slogan{color:$white;font-size:1.125em;font-weight:$weight-bold;line-height:36px;letter-spacing:-0.05px;
		span{color:$primary}
		strong{display:block;color:$white;font-size:1.5em;text-transform:uppercase}
	}
	@include from($desktop){margin-bottom:4.75rem;@include padding(3rem 3rem 3rem 4.75rem);border-radius:$radius-large;
		.slogan{margin-top:4rem;font-size:$size-xlarge;line-height:56px;
			strong{font-size:2.750rem}
		}
		.form-inside{
			.field.has-button{display:flex;justify-content:flex-end;}
		}
		& + .section-hnews{margin-top:-4.75rem}
	}
	@include until($desktop){
		.button{width:100%;}
	}
}
// HNews
.section-hnews{position:relative;@include padding(3rem $gutter 4.5rem);
	.hnews-inside{@include margin(null (-$gutter))}
	.item-hnews{display:block;background-color:rgba($grey-lightest, 0.75);@include padding(($gutter/2) ($gutter/2) 1rem ($gutter/2));border-radius:$radius-large;box-shadow:$shadow-soft;
		.img-hnews{display:block;position:relative;@include background-center;margin-bottom:1rem;border-radius:$radius-large;
			&:before{@include ratio-default}
		}
		.desc{
			h3{display:block;margin-bottom:$gutter/2;@extend %h3;}
			p{display:block;@extend %small;}
			.line-timer{display:block;width:64px;@include margin(0.75rem null);border-top:2px solid $primary}
		}
	}
	.swiper-pagination{@include position(absolute, null null -2rem null)}
	.swiper-button-next, .swiper-button-prev{display:none;background:url(../images/arrows.png) 0 0 no-repeat;background-size:80px 80px;@include size(40px);outline:0;
		&.swiper-button-disabled{opacity:1;}
		&:after, &:before{display:none}
		@include from($desktop){display:block}
	}
	.swiper-button-prev{background-position:0 0;
		&.swiper-button-disabled{background-position:0 -40px;}
	}
	.swiper-button-next{background-position:-40px 0;
		&.swiper-button-disabled{background-position:-40px -40px;}
	}
	@include from($desktop){@include padding(4.75rem 0);
		.hnews-inside{@include margin(null auto)}
		.item-hnews{height:100%;
			.img-hnews{margin-bottom:$gutter - 0.25rem;}
			.desc{
				.line-timer{@include margin(1rem null)}
			}
		}
		.swiper-button-next, .swiper-button-prev{@include position(absolute, 1.5rem 0 null null)}
		.swiper-button-prev{right:44px;left:inherit}
	}
}
// Cover
.section-cover{@include flex-center;position:relative;@include background-center;height:300px;
	&:before{@include position(absolute, 0 0 0 0);content:"";background-color:rgba($text, 0.5)}
	.inner{position:relative;z-index:2;@include padding(1.5rem)}
	h1{display:block;color:$white;font-size:$size-large;font-weight:$weight-bold;line-height:1.35;text-align:center;
		&.is-otr{font-weight:$weight-medium}
	}
	@include from($desktop){height:480px;
		h1{max-width:930px;@include margin(3rem auto 1rem);font-size:$size-display;line-height:1.5;}
	}
	@include tablet-only{
		h1{max-width:600px;}
	}
}
// About
.section-about-why{position:relative;@include padding(3rem $gutter);
	&:before{@include position(absolute, null 0 2rem null);content:"";background:url(../images/vector.png) 0 0 no-repeat;background-size:cover;@include size(116px, 48px)}
	p{margin-bottom:$gutter - 0.25rem;@extend %body;color:$grey;
		&:last-child{margin-bottom:0}
	}
	.img-about-why{@include background-center;height:100%;border-radius:$radius-large;
		&:before{@include ratio-169}
	}
	@include from($desktop){@include padding(4.75rem 0);
		&:before{@include position(absolute, null 2rem 2rem null);content:"";background:url(../images/vector.png) 0 0 no-repeat;background-size:cover;@include size(186px, 78px)}
		p{margin-bottom:$gutter}
	}
}
// Audience
.section-audience{position:relative;background-color:rgba($grey-lightest, 0.75);@include padding(3rem $gutter);
	.audience-list{
		li{margin-bottom:1rem;
			&:last-child{margin-bottom:0}
			.item-audience{background-color:$white;@include padding(($gutter/2) ($gutter/2) 1rem ($gutter/2));border-radius:$radius-large;box-shadow:$shadow-soft;
				.img-audience{display:block;position:relative;@include background-center;margin-bottom:1rem;border-radius:$radius-large;
					&:before{@include ratio-default}
				}
				.desc{
					h3{display:block;margin-bottom:$gutter/3;@extend %h3;text-align:center}
					p{display:block;@include padding(0 1rem);@extend %small;text-align:center}
				}
			}
		}
	}
	@include from($tablet){@include padding(4.75rem 0);
		.audience-list{display:flex;@include margin(null (-$gutter/2));
			li{width:33.3333333%;margin-bottom:0;@include padding(null ($gutter/2));
				.item-audience{position:relative;height:100%;
					.img-audience{height:192px;margin-bottom:$gutter - 0.25rem;
						&:before{display:none}
					}
					.desc{@include padding(null 4px);
						h3{min-height:56px;margin-bottom:$gutter - 0.25rem;@include padding(null $gutter)}
						p{font-size:$size-normal;line-height:24px}
					}
				}
			}
		}
	}
}
// Service more
.section-service-more{position:relative;@include padding(3rem $gutter);
	.is-inner{
		@include until($tablet){display:flex;flex-direction:column-reverse}
	}
	.img-service-more{display:block;@include background-center;height:100%;border-radius:$radius-large;
		&:before{@include ratio-default;padding-top:85%}
	}
	@include from($desktop){@include padding(4.75rem 0 3rem);
		.img-service-more{max-width:492px}
	}
}
// Contact
.section-contact{position:relative;@include padding($gutter);
	.img-contact{display:block;margin-bottom:$gutter - 0.25rem;@include background-center;border-radius:$radius-large;
		&:before{@include ratio-169}
	}
	.adr-list{padding-bottom:$gutter;
		li{display:block;position:relative;margin-bottom:0.75rem;padding-left:32px;
			i{@include position(absolute, 0px null null 0);color:$primary;font-size:1.125em}
			span, a{@extend %body;color:$grey}
			&:last-child{margin-bottom:0}
		}
	}
	.form-inside{background:transparent;@include padding(0);border-radius:0;
		.field.has-button{display:flex;justify-content:flex-end;margin-top:1.5rem}
	}
	@include from($desktop){@include padding(4.75rem 0);
		.adr-list{border:0 none;}
		.form-inside{margin-left:1rem;padding-left:2.25rem;border-left:1px solid $grey-lightest}
	}
	@include until($desktop){
		.pr-0{padding-right:0.75rem!important}
	}
	@include until($tablet){
		.form-inside .control{width:100%;
			.button{width:100%}
		}
		.adr-list{border-bottom:1px solid $grey-lighter;}
	}
}
// Map
.section-map{
	h4.subtitle{display:flex;align-items:center;@extend %subtitle;@include margin(($gutter/2) null);@include padding(null $gutter);
		i{margin-right:0.5rem}
	}
	.inner{background-color:$grey-lightest;height:500px}
	@include from($desktop){
		h4.subtitle{@include padding(null 0);}
	}
}
// Article
.section-filter{@include padding($gutter);padding-bottom:$gutter/2;
	.filter-list{display:flex;flex-wrap:wrap;
		li{margin-right:$gutter/2;margin-bottom:$gutter/2;
			a{display:block;background-color:$grey-lightest;@include padding(0.5rem 1rem);@extend %subtitle;border-radius:$radius;
				&:hover{color:$primary}
			}
			&.is-active a{background-color:$primary;color:$white;
				&:hover{color:$white}
			}
		}
	}
	@include from($desktop){@include padding(null 0)}
}
.section-article-list{margin-bottom:3rem;@include padding(null $gutter);
	.article-list{margin-bottom:$gutter;
		li{margin-bottom:1rem;
			&:last-child{margin-bottom:0}
			.item-article{background-color:$white;@include padding(($gutter/2) ($gutter/2) 1rem ($gutter/2));border-radius:$radius;box-shadow:$shadow-large;
				.img-article{display:block;position:relative;@include background-center;margin-bottom:1rem;border-radius:$radius-large;
					&:before{@include ratio-article}
				}
				.desc{
					h2{display:block;margin-bottom:$gutter/3;@extend %h3;
						a{color:$text;
							&:hover{color:$primary}
						}
					}
					p{display:block;@extend %small;
						&.is-timer{margin-bottom:$gutter/3;}
					}
				}
			}
		}
	}
	@include from($desktop){margin-bottom:4.75rem;@include padding(null 0);
		.article-list{margin-bottom:2rem;
			li{margin-bottom:2rem;
				.item-article{display:flex;align-items:flex-start;background:transparent;@include padding(0);border-radius:0;box-shadow:none;
					.img-article{flex-shrink:0;width:267px;margin-bottom:0;margin-right:$gutter}
					.desc{flex-grow:1;min-width:0}
				}
			}
		}
	}
}
.section-top{
	@include from($desktop){margin-top:2rem}
}
.section-cate-links{margin-bottom:3rem;@include padding($gutter);
	.cate-links-list{
		li{margin-bottom:1rem;
			.item-cate-links{display:flex;align-items:center;
				.ico-wrap{@include flex-center;flex-shrink:0;background-color:$background-primary;@include size(56px);margin-right:1rem;border-radius:$radius-rounded;
					i{color:$primary;font-size:1.5rem}
					i.ico-dn{display:block;background:url(../images/ico_dn.png) 0 0 no-repeat;background-size:cover;@include size(24px)}
					i.ico-1vs1{display:block;background:url(../images/ico_1vs1.png) 0 0 no-repeat;background-size:cover;@include size(24px)}
				}
				span{flex-grow:1;min-width:0;@extend %subtitle;}
				&:hover span{color:$primary}
			}
			&:last-child{margin-bottom:0}
		}
	}
	@include from($desktop){@include padding(0)}
}
.section-latest{margin-bottom:3rem;@include padding($gutter);
	.latest-list{
		li{margin-bottom:1rem;
			&:last-child{margin-bottom:0}
			a{display:block;position:relative;padding-left:1.75rem;@extend %body;
				&:before{@include position(absolute, 6px null null 4px);content:"";background:url(../images/ico_list.png) 0 0 no-repeat;background-size:cover;@include size(7px, 9px)}
				&:hover{color:$primary}
			}
		}
	}
	@include from($desktop){@include padding(0)}
}
.section-topview{margin-bottom:3rem;@include padding($gutter);
	.topview-list{
		li{position:relative;margin-bottom:1rem;@extend %body;
			&:last-child{margin-bottom:0}
			.item-topview{display:flex;align-items:flex-start;
				.img-topview{display:block;flex-shrink:0;position:relative;@include background-center;width:80px;margin-right:1rem;border-radius:$radius;
					&:before{@include ratio-100}
				}
				.desc{flex-grow:1;min-width:0;
					h4{display:block;margin-bottom:$gutter/3;@extend %body;
						a{color:$text;
							&:hover{color:$primary}
						}
					}
					p{display:block;@extend %small;}
				}
			}
		}
	}
	@include from($desktop){@include padding(0)}
}
.section-article{@include padding($gutter);
	.breadcrumb{margin-bottom:0.75rem;
		i{position:relative;top:-2px}
	}
	.article-title{display:block;margin-bottom:0.5rem;@extend %h1;}
	.article-subtitle{display:block;margin-bottom:$gutter;@extend %subtitle;color:$grey}
	.article-meta{display:flex;align-items:center;flex-wrap:wrap;margin-bottom:0.5rem;
		p{position:relative;margin-right:0.5rem;@include padding(0.5rem null);@extend %small;
			&.is-author{display:flex;align-items:center;padding-right:0.5rem;
				&:before{@include position(absolute, 50% 0 null null);content:"";background-color:$grey-lightest;@include size(1px, 20px);margin-top:-10px}
			}
			&.is-timer{padding-right:0.5rem;
				&:before{@include position(absolute, 50% 0 null null);content:"";background-color:$grey-lightest;@include size(1px, 20px);margin-top:-10px}
			}
		}
	}
	.article-img{display:block;width:100%;height:auto;margin-bottom:$gutter;border-radius:$radius-large}
	.index-list{background-color:$grey-lightest;margin-bottom:$gutter;@include padding(20px);border-radius:$radius-large;
		h3{display:block;margin-bottom:0.75rem;@extend %h3;}
		li{margin-bottom:0.75rem;
			&:last-child{margin-bottom:0}
			a{display:block;position:relative;padding-left:1.75rem;@extend %body;color:$grey;
				&:before{@include position(absolute, 6px null null 4px);content:"";background:url(../images/ico_list.png) 0 0 no-repeat;background-size:cover;@include size(7px, 9px)}
				&:hover{color:$primary}
			}
		}
	}
	.article-body{margin-bottom:$gutter;
		h1, h2{display:block;@include padding(1rem null);@extend %h2;}
		h3{display:block;@include padding(1rem null);@extend %h3;}
		h4{display:block;@include padding(1rem null);@extend %subtitle;}
		p{margin-bottom:1rem;@extend %body;color:$grey}
		ul{margin-bottom:1rem;
			li{margin-bottom:1rem;@extend %body;color:$grey;
				&:last-child{margin-bottom:0}
			}
		}
		img{display:block;width:100%;height:auto;margin-bottom:$gutter;border-radius:$radius-large}
		.tags{margin-bottom:$gutter}
		.social-list{display:flex;flex-wrap:wrap;
			li{margin-right:1rem;
				&:last-child{margin-right:0}
				a{@include flex-center;@include size(48px);border-radius:$radius-rounded;border:1px solid $text;
					i{color:$text;font-size:1.5rem}
					&:hover{border-color:$primary;
						i{color:$primary;}
					}
				}
			}
		}
	}
	@include from($desktop){@include padding(2rem 1.5rem 0 0)}
}
.section-comment{@include padding($gutter);
	.field{
		&.is-grouped{
			@include until($tablet){display:block}
			@include from($tablet){justify-content:space-between;}
		}
	}
	.control{
		&.is-rating{display:flex;align-items:center;margin-bottom:$gutter!important;
			span.dr{display:block;margin-right:0.75rem;@extend %small;color:$grey}
		}
		@include until($tablet){
			.button{width:100%}
		}
	}
	& + .section-comment-list{margin-top:-$gutter}
}
.section-comment-null{@include padding($gutter);
	i{display:block;@include margin(null auto 1rem);color:$text;font-size:1.5rem}
	p{@extend %small;text-align:center}
	@include until($tablet){max-width:280px;@include margin(null auto);}
	@include from($tablet){margin-bottom:$gutter}
}
.section-comment-list{@include padding($gutter);
	.comment-list{margin-bottom:$gutter;
		li{margin-bottom:1rem;
			&:last-child{margin-bottom:0}
			.item-comment{display:flex;
				.avatar{flex-shrink:0;margin-right:1rem;}
				.desc{flex-grow:1;min-width:0;
					p.author{margin-bottom:0.25rem;@extend %subtitle;}
					p.ctn{@extend %small;}
				}
			}
		}
	}
	@include from($tablet){margin-bottom:$gutter}
}